@model FinalProject.Data.Entities.Category

@{
    ViewData["Title"] = "Изтрий категория";
}

<h1 class="text-center">Изтрий категория</h1>

<h3>Искате ли да изтриете тази категория?</h3>
<div>
    <h4>Категория</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WagoonsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WagoonsCount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a class="btn btn-outline-primary" asp-action="Index">Върни се към списъка</a>
    </form>
</div>
