@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли!</h1>
    <p>Чрез това приложение можете да създавате, променяте и изтривате влакове, категории, гари и разписания.</p>
</div>
